services:
  backend:
    build:
      context: ./backend
      dockerfile: backend.dockerfile
    container_name: backend
    expose:
      - "8000"

  frontend:
    build:
      context: ./frontend
      dockerfile: frontend.dockerfile
    container_name: frontend
    ports:
      - "80:80"
    volumes:
      - ./certbot/www:/var/www/certbot
    depends_on:
      - backend

  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
