services:
  backend:
    build:
      context: ./backend
      dockerfile: backend.dockerfile
    container_name: backend
    expose:
      - "8000"

  frontend:
    build:
      context: ./frontend
      dockerfile: frontend.dockerfile
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend
