@import "tailwindcss/theme";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

/* App-Defaults */
:root {
  color-scheme: dark;
}

html, body {
  font-family: 'Outfit', sans-serif !important;
  height: 100%;
}

body {
  margin: 0;
  background: #1E1E1E;
  color: #ffffff;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
}

a {
  color: inherit;
  text-decoration: none;
}

.grey-background {
  background: #1E1E1E;
}

.grey-stroke {
  border: 1px solid #252526;
}

.light-grey-background {
  background: #252526;
}

.light-grey-stroke {
  border: 1px solid #333333;
}

.nav-icon {
  font-size: 20px;
  color: #9D9DA8;
}

.nav-item {
  background: #1E1E1E;
  border: 1px solid  #1E1E1E;
}

.nav-icon--active {
  font-size: 20px;
  color: #ffffff;
}

.nav-item:hover {
  background: #252526;
  border: 1px solid #333333;
}

.grey-text {
  font-size: 14px;
  color: #9D9DA8;
}

.light-grey-text {
  font-size: 14px;
  color: #b9b9c7;
}

.eyebrow {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.white-text {
  font-size: 14px;
  color: #ffffff;
}

.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.circle {
  border-radius: 50%;
}

.badge {
  position: absolute;
  top: -4px;
  right: -4px;

  min-width: 16px;
  height: 16px;
  padding: 0 4px;

  border-radius: 999px;
  background: #ff8c00;
  color: #fff;

  font-size: 11px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;

  pointer-events: none;
}

.sidebar-item {
  background: #252526; 
  border: 1px solid #252526;
}

.sidebar-item:hover {
  background: #252526;
  border: 1px solid #333333;
}

.sidebar-item--active {
  background: #1E1E1E;
  border: 1px solid #333333;
}